{%- with messages = get_flashed_messages(with_categories=true) -%}
{% if messages %}
<div class="container">
  {% for category, message in messages %}
  <div class="toast toast-error" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}
{%- endwith %}

{% with successes = get_flashed_messages(category_filter=["success"]) %}
{% if successes %}
<div class="container">
  {%- for message in successes %}
  <div class="toast toast-success" role="alert">
    <strong>¡Éxito!</strong> {{ message }}
  </div>
  {% endfor -%}
</div>
{% endif %}
{% endwith %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="container">
  {%- for message in errors %}
  <div class="toast toast-error" role="alert">
    <strong>¡Error!</strong> {{ message }}
  </div>
  {% endfor -%}
</div>
{% endif %}
{% endwith %}

{% with normals = get_flashed_messages(category_filter=["normal"]) %}
{% if normals %}
<div class="container">
  {%- for message in normals %}
  <div class="toast toast-primary" role="alert">
    <strong>¡Ey!</strong> {{ message }}
  </div>
  {% endfor -%}
</div>
{% endif %}
{% endwith %}