{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_label_with_errors_spectre, render_field_label_social_with_errors_spectre %}

{% block content %}
{% include "messages.html" %}
<title>{% block title %} cutrenet | registro {% endblock title %}</title>
<h1>{{ _('Registrate') }}</h1>
<div class="card">
  <div class="card-header">
    <strong>¡Hazte miembro de AETEL!</strong> Rellena el formulario con tus datos...
  </div>
  <div class="card-body">
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" class="form-horizontal">
      {{ register_user_form.hidden_tag() }}
      {{ render_field_label_with_errors_spectre(register_user_form.first_name, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(register_user_form.last_name, class_="form-input") }}
      {{ render_field_label_social_with_errors_spectre(register_user_form.telegram, class_="form-input") }}
      <div class="form-group">
        <div class="col-3 col-sm-12"></div>
        <div class="col-9 col-sm-12">
          <p class="form-input-hint">No es obligatorio, pero es necesario para usar <a href="http://t.me/aetelbot">@aetelbot</a>.</p>
        </div>
      </div>
      {{ render_field_label_with_errors_spectre(register_user_form.year, class_="form-select") }}
      {{ render_field_label_with_errors_spectre(register_user_form.school, onchange="planes()", class_="form-select") }}
      {{ render_field_label_with_errors_spectre(register_user_form.degree, class_="form-select") }}
      {{ render_field_label_with_errors_spectre(register_user_form.dni, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(register_user_form.email, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(register_user_form.password, class_="form-input") }}
      {% if register_user_form.password_confirm %}
        {{ render_field_label_with_errors_spectre(register_user_form.password_confirm, class_="form-input") }}
      {% endif %}
      {{ render_field(register_user_form.submit, class_="btn btn-primary btn-large btn-block") }}
    </form>
  </div>
</div>
<script>
  function planes() {
    let dropdown = document.getElementById('select_degree');
    dropdown.length = 0;
    dropdown.selectedIndex = 0;
    const url = '/static/json/planes.json';
    const request = new XMLHttpRequest();
    request.open('GET', url, true);
    request.onload = function() {
      if (request.status === 200) {
        var centro = document.getElementById("select_school").value;
        const data = JSON.parse(request.responseText).datos[centro]
        let option;
        for (let i = 0; i < data.length; i++) {
          option = document.createElement('option');
          option.text = data[i].nombre;
          option.value = data[i].codigo;
          dropdown.add(option);
        }
      } else {
        // Reached the server, but it returned an error
      }
    }
    request.onerror = function() {
      console.error('An error occurred fetching the JSON from ' + url);
    };
    request.send();
  }
  planes();
</script>
{% endblock %}
