{% extends "layout.html" %}
{% include "header_no_login.html" %}
{% block body %}

    {% block content %}
    {% if 'new_member' in request.url %}
    <div style='margin-left: 100px; width: 45%;'>
    <div class="alert alert-info" role="alert">
    <strong>¡Hazte miembro de AETEL!</strong> Rellena el formulario con tus datos...
    </div>
    
    <form action = "registerdo?new_member" method = "POST">
     <p>Nombre: <input class="form-control" type = "text" name = "first_name" style='width: 100%;' /></p>
     <p>Apellidos: <input class="form-control" type = "text" name = "last_name" style='width: 100%;' /></p>
     <p>DNI o NIE: <input class="form-control" type = "text" name = "dni" style='width: 100%;' /></p>
     <p>Escuela: <input class="form-control" type = "text" name = "school" style='width: 100%;' /></p>
     <p>Grado: <input class="form-control" type ="text" name = "degree" style='width: 100%;' /></p>
     <p>Curso actual: <input class="form-control" type ="text" name = "year" style='width: 100%;' /></p>
     <p>Email: <input class="form-control" type ="text" name = "email" style='width: 100%;' /></p>
     <p>Nick de Telegram: <input class="form-control" type ="text" name = "telegram" style='width: 100%;' /></p>
     <input type ="hidden" name = "password" value='' />
     <br>

     <p><input class="btn btn-primary btn-large btn-block" type = "submit" value = "Register" /></p>
    </form>
    </div>

    {% else %}
    <div class="alert alert-danger" role="alert">
    <strong>¡Eh!</strong> ¿Estás seguro de que estás en el lugar adecuado?
    </div>
    {% endif %}
    {% endblock content %}

{% include "footer.html" %}
{% endblock %}