{% extends "layout.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
<body style="background-color:#242424;">
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>AETELcutrenet</h1>
			</div>
 
			<div class="login-form">
				<div class="form-group"></div>
				<input type="text" class="login-field" value="" placeholder="email" name="email">
				<label class="login-field-icon fui-user" for="login-name"></label>

				<input type="password" class="login-field text-left" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>

                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}