* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/montserrat.woff2') format('woff2'),
         url('/static/fonts/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/lato.woff2') format('woff2'),
         url('/static/fonts/lato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar {
  background-color: #00A79D;
  box-shadow: 0px 1px 5px #888;
  margin-bottom: 50px;
  min-height: 70px;
  margin-left: -50px;
  margin-right: -50px;
  /*justify-content: space-between;
  vertical-align: middle;
  line-height: normal;
  text-decoration: none;*/
}

.navbar-section {
  margin: 10px;
  display: inline;
}

.navbar-section.form{
  margin-bottom: 0px;
}

.navbar-brand {
  color: white;
  padding-left: 15px;
  font-size: 1.5rem !important;
  font-family: Montserrat;
}

.navbar-brand:visited {
  text-decoration: none;
  color: #fff;
}

.navbar-profile{
  float: right;
  color: #fff;
}

.navbar-profile:visited{
  float: right;
  color: #fff;
}

.navbar-profile:hover{
  text-decoration: underline;
  color: #fff;
}

.logout {
  float: right;
  padding: 0px 32px;
  color: #fff;
  margin-bottom: 0px;
}

.login-btn {
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-right: .8rem;
  padding: .3rem;
  width: 5rem;
  border-radius: .1rem;
}

.login-btn.in {
  color: #00A79D;
  background-color: #FFF;
}

.login-btn.out {
  color: #fff;
  background-color: #e85600;
  margin-left: 32px;
}

.login-btn.in:hover {
  background-color: #eee;
}

.login-btn.out:hover {
  background-color: #de5200;
}

a {
  color: #00A79D;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
  color: #00A79D;
}

a:visited {
  color: #00A79D;
}

.icon {
  color: #00A79D;
}
body {
  font-family: Lato;
  background-color: #FFF;
  padding: 50px;
}

.footer {
  margin: auto;
  max-width: 430px;
}

.login {
  margin: 20px auto;
  width: 300px;
  background-color: #FFF;
  padding: 20px;
  border-radius: .1rem
}

.login-field {
  background-color: #ECF0F1;
  border: 2px solid #ECF0F1;
  border-radius: .1rem;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 10px 10px 10px;
  width: 100%;
  transition: border .5s;
}

.login-field:focus {
  background-color: #ECF0F1;
  border: 2px solid #00A79D;
  box-shadow: none;
}

.login-title {
  text-align: center;
  font-family: Montserrat;
  color: #777;
}

.login-form {
  font-family: Lato;
}

.control-group {
  margin-bottom: 10px;
}

/*input {
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: .1rem;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}*/

.form-input:focus {
  border-color: #00A79D;
}

.form-select:focus {
  border-color: #00A79D;
}

.btn {
  font-family: Montserrat;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #eee;
  border-color: #eee;
  color: #00A79D;
  margin-top: 5px;
}
.btn:focus, .btn:hover {
  background: #eee;
  border-color: #00A79D;
}
.btn.btn-primary {
  background-color: #00A79D;
  border-color: #00A79D;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #005c5f;
  border-color: #005c5f;
}

.btn.btn-primary:not(:disabled):not(.disabled).active,
.btn.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn.btn-primary.dropdown-toggle {
  background-color: #005c5f;
  border-color: #005c5f;
}

.form-checkbox input:checked+.form-icon, .form-radio input:checked+.form-icon, .form-switch input:checked+.form-icon {
background: #00A79D;
border-color: #00A79D;
}

.toast {
  margin-bottom: 10px;
}

.toast.toast-primary {
  background: #00A79D;
  border-color: #00A79D;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

.form-horizontal .control-label.text-left {
  text-align: left;
  margin: 1px;
}

.card {
  border-radius: .1rem;
  margin-bottom: 1rem;
}

.card-header {
  background-color: #dadee4;
  padding-bottom: .8rem !important;
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  display: inline;
}

.table-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.table.table-scroll {
  display: table;
}

.profile-edit{
  float: right;
  display: inline;
  margin: .4rem 0;
  padding: .2rem 0;
}

.profile-edit:hover{
  text-decoration: underline;
}

.tool-img{
  height: 15rem;
}

