{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_with_errors_spectre, render_field_checkbox %}

{% block content %}
{% include "messages.html" %}
{% if 'edit' in request.url %}
  <div style='margin-left: 50px; width: 45%;'>
    <div class="card">
      <h5 class="card-header">Editando a {{eresult["first_name"]}} {{eresult["last_name"]}} </h5>
      <div class="card-body">
        <form action="edit" method="POST">
          <p>Nombre: <input class="form-control" type="text" name="first_name" style='width: 100%;' value='{{eresult["first_name"]}}' /></p>
          <p>Apellidos: <input class="form-control" type="text" name="last_name" style='width: 100%;' value='{{eresult["last_name"]}}' /></p>
          <p>DNI o NIE: <input class="form-control" type="text" name="dni" style='width: 100%;' value='{{eresult["dni"]}}' /></p>
          <p>Escuela: <input class="form-control" type="text" name="school" style='width: 100%;' value='{{eresult["school"]}}' /></p>
          <p>Grado: <input class="form-control" type="text" name="degree" style='width: 100%;' value='{{eresult["degree"]}}' /></p>
          <p>Curso actual: <input class="form-control" type="text" name="year" style='width: 100%;' value='{{eresult["year"]}}' /></p>
          <p>Email: <input class="form-control" type="text" name="email" style='width: 100%;' value='{{eresult["email"]}}' /></p>
          <p>Nick de Telegram: <input class="form-control" type="text" name="telegram" style='width: 100%;' value='{{eresult["telegram"]}}' /></p>
          <p>Contraseña: <input class="form-control" type="password" name="password" style='width: 100%;' value='' /></p>
          <input type="hidden" name="old_dni" value='{{eresult["dni"]}}' />


          <br>

          <p><input class="btn btn-primary btn-large btn-block" type="submit" value="Update Data" /></p>
        </form>
      </div>
    </div>

  </div>
  <br><br>
{% endif %}

<div class="card">
  <h5 class="card-header">Miembros</h5>
  <div class="table-scroll">
    <table class='table table-hover table-scroll'>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>DNI o NIE</th>
          <th>Escuela</th>
          <th>Grado</th>
          <th>Curso</th>
          <th>Email</th>
          <th>Telegram</th>
          <th>Confirmado</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>

      {% for result in results %}
      <tr>
        <td>{{result["first_name"]}}</td>
        <td>{{result["last_name"]}}</td>
        <td>{{result["dni"]}}</td>
        <td>{{result['school']}}</td>
        <td>{{result['degree']}}</td>
        <td>{{result['year']}}</td>
        <td>{{result['email']}}</td>
        <td>{{result['telegram']}}</td>
        <td align="center"><a href="{{ url_for('confirm_member', dni=result['dni']) }}">
          {% if result['active'] == 0 %}
            <i class="icon icon-cross text-error"></i>
          {% else %}
            <i class="icon icon-check text-success"></i>
          {% endif %}
        </a></td>
        <td align="center"><a href="{{ url_for('edit_member', edni=result['dni']) }}"><i class="icon icon-edit"></a></td>
        <td align="center"><a href="{{ url_for('delete_member', dni=result['dni']) }}"><i class="icon icon-delete"></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}
