{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors_spectre, render_field, render_field_label_with_errors_spectre, render_field_label_social_with_errors_spectre %}

{% block content %}
{% include "messages.html" %}
  <div class="card">
    {% if 'workshop' in request.url %}
      <h5 class="card-header">Enviar mensaje a los participantes del taller {{ workshop.name }}</h5>
    {% else %}
      <h5 class="card-header">Enviar mensaje a todos los miembros</h5>
    {% endif %}
  <div class="card-body">
    {% if 'workshop' in request.url %}
      <form action="{{ url_for('mass_mail', workshop=workshop.id) }}" method="POST" name="form" class="form-horizontal" enctype=multipart/form-data>
    {% else %}
      <form action="{{ url_for('mass_mail') }}" method="POST" name="form" class="form-horizontal" enctype=multipart/form-data>
    {% endif %}
      {{ form.hidden_tag() }}
      {{ render_field_with_errors_spectre(form.subject, class_="form-input", placeholder="Asunto") }}
      {{ render_field_with_errors_spectre(form.message,rows='15', class_="form-input", placeholder="Mensaje") }}
      {{ render_field_with_errors_spectre(form.attachment, class_="form-input", placeholder="Adjunto") }}
      <input type=submit class="btn btn-primary btn-large btn-block" value=Enviar>
    </form>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}
