{% block doc -%}
<!DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}

<head>
  {%- block head %}
  <title>{% block title %}{{ title|default }}
    {% if subtitle is defined %}
    | {{ subtitle }}
    {% endif %}
    {% endblock title %}</title>

  {%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- endblock metas %}

  {%- block styles %}
  <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
  <link rel="stylesheet" href="/static/spectre.min.css">
  <link rel="stylesheet" href="/static/spectre-exp.min.css">
  <link rel="stylesheet" href="/static/spectre-icons.min.css">
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  {%- endblock styles %}
  {%- endblock head %}
</head>

<body {% block body_attribs %}{% endblock body_attribs %}>
  {% block body -%}
  {% block navbar %}
  <header class="navbar">
    <section class="navbar-section">
      <a href="/" class="navbar-brand">AETEL | cutrenet 1.0</a>
    </section>
    {% if current_user.is_authenticated %}
    <section class="navbar-section">
      <a href="{{ url_for('member_profile', dni=current_user.dni) }}" class="navbar-profile">{{current_user.first_name}}</a>
      <a href="{{ url_for('logout') }}" class="login-btn out">salir</a>
    </section>
    {% elif request.path != '/login' %}
    <section class="navbar-section">
      {% if session['url'] %}
      <a href="{{ '/login?next=%2F'+session['url'] }}" class="login-btn in">Entrar</a>
      {% else %}
      <a href="{{ '/login' }}" class="login-btn in">Entrar</a>
      {% endif %}
    </section>
    {% endif %}
  </header>
  {%- endblock navbar %}
  {% block content -%}
  {%- endblock content %}

  {% block scripts %}
  {%- endblock scripts %}
  {%- endblock body %}
</body>
{%- endblock html %}

</html>
{% endblock doc -%}