{% extends "layout.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<body style="background-color:#242424;">
  <form action="login" method="POST" class="needs-validation" novalidate>
    <div class="login">
      <div class="login-screen">
        <div class="app-title">
          <h1>AETEL cutrenet 1.0</h1>
        </div>

        <div class="login-form">
          <div class="form-group">
            <input type="email" class="login-field form-control" placeholder="email" name="email" required>
            <div class="invalid-feedback">
              Please provide a valid email.
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="login-field form-control" placeholder="contraseña" name="password" required>
            <div class="invalid-feedback">
              Please provide a valid password.
            </div>
          </div>
          <button class="btn btn-primary btn-large btn-block" type="submit">Log in</button>
        </div>
      </div>
    </div>
  </form>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  {% endif %}
  {% endblock %}