{%- with messages = get_flashed_messages(with_categories=true) -%}
{% if messages %}
  {% for category, message in messages %}
    {% if category == 'normal' %}
      <div class="toast toast-primary" role="alert">
        <strong>{{ message }}</strong>
      </div>
    {% elif category == 'error' %}
      <div class="toast toast-error" role="alert">
        <strong>{{ message }}</strong>
      </div>
    {% elif category == 'success' %}
      <div class="toast toast-success" role="alert">
        <strong>{{ message }}</strong>
      </div>
    {% else %}
      <div class="toast toast-warning" role="alert">
        <strong>{{ message }}</strong>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
{%- endwith %}
