{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_label_with_errors_spectre, render_field_label_social_with_errors_spectre, hidden_field %}

{% block content %}
{% include "messages.html" %}
{% if 'edit' in request.url %}
<div class="card">
    <h5 class="card-header">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        {% if current_user.has_role('admin') %}
          <a href="{{ url_for('member_database') }}">Usuarios</a>
        {% else %}
          Usuarios
        {% endif %}
      </li>
      <li class="breadcrumb-item">
        <a href="{{ url_for('member_profile', dni=result['dni']) }}">{{ result["first_name"] }} {{ result["last_name"] }}</a>
      </li>
      <li class="breadcrumb-item">
        Editar 
      </li>
    </ul>
  </h5>
  <div class="card-body">
    <form action="{{ url_for('member_profile', edit=result['dni']) }}" method="POST" name="form" class="form-horizontal">
      {{ form.hidden_tag() }}
      {{ render_field_label_with_errors_spectre(form.first_name, class_="form-input", value=result["first_name"]) }}
      {{ render_field_label_with_errors_spectre(form.last_name, class_="form-input", value=result["last_name"]) }}
      {{ render_field_label_social_with_errors_spectre(form.telegram, class_="form-input", value=result["telegram"]) }}
      <div class="form-group">
        <div class="col-3 col-sm-12"></div>
        <div class="col-9 col-sm-12">
          <p class="form-input-hint">No es obligatorio, pero es necesario para usar <a href="http://t.me/aetelbot">@aetelbot</a>.</p>
        </div>
      </div>
      {{ render_field_label_with_errors_spectre(form.year, class_="form-select", value=result["year"]) }}
      {{ render_field_label_with_errors_spectre(form.school, onchange="planes()", class_="form-select", value=result["school"]) }}
      {{ render_field_label_with_errors_spectre(form.degree, class_="form-select", value=result["degree"]) }}
      {{ render_field_label_with_errors_spectre(form.dni, class_="form-input", value=result["dni"]) }}
      {{ render_field_label_with_errors_spectre(form.email, class_="form-input", value=result["email"]) }}

      {% if not current_user.has_role('admin') or (current_user.has_role('admin') and current_user.dni == result['dni'] )%}
        <div class="col-2 col-sm-12">
          <a class="btn" href="{{ url_for('change_password') }}">Cambiar contraseña</a><br>
        </div>
      {% endif %}

      {{ render_field(form.submit, class_="btn btn-primary btn-large btn-block", value="Guardar") }}
    </form>
  </div>
</div>
{% else %}
<div class="card">
  <h5 class="card-header">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        {% if current_user.has_role('admin') %}
          <a href="{{ url_for('member_database') }}">Usuarios</a>
        {% else %}
          Usuarios
        {% endif %}
      </li>
      <li class="breadcrumb-item">
        {{ result["first_name"] }} {{ result["last_name"] }} 
      </li>
    </ul>
    <a href="{{ url_for('member_profile', edit=result['dni']) }}" class="profile-edit"><i class="icon icon-edit"></i> Editar</a>
  </h5>
  <div class="card-body">
    <div class="container">
      <div class="columns">
        <div class="col-3 col-sm-12">
          <strong>Nombre:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["first_name"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Apellidos:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["last_name"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>DNI o NIE:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["dni"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Escuela:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["school"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Grado:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["degree"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Curso actual:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["year"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Email:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["email"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Telegram:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["telegram"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Miembro de AETEL:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {% if result.has_role('member') %}
          <i class="icon icon-check text-success"></i>
          {% else %}
          <i class="icon icon-cross text-error"></i>
          {% endif %}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Administrador de cutrenet:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {% if result.has_role('admin') %}
          <i class="icon icon-check text-success"></i>
          {% else %}
          <i class="icon icon-cross text-error"></i>
          {% endif %}
        </div>

        <div class="col-3 col-sm-12">
          <br>
          ¿No estás contento?
        </div>
        <div class="col-9 col-sm-12">
          <br>
          <a class="btn btn-error delete" href="{{ url_for('member_profile', delete=result['dni']) }}" data-confirm="¿Estás seguro de querer borrar tu perfil?">Borrar perfil</a><br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Workshops</h5>
  <div class="card-body">
    <table class='table table-hover table-scroll'>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th>Instructor</th>
          <th align="center">Pagado</th>
          <th align="center">Completado</th>
        </tr>
      </thead>

      {% for workshop in result['workshops'] %}
      <tr>
        <td><a href="{{ url_for('view_workshop', id=workshop.id) }}">{{ workshop.name }}</a></td>
        <td>{{ workshop.date.strftime('%d-%m-%Y') }}</td>
        <td>{{ workshop.instructor.first_name }} {{ workshop.instructor.last_name }}</td>
        {% for wksps in workshops if wksps['workshop_id'] == workshop.id %}
        <td align="center">{% if wksps.paid %}
            <i class="icon icon-check text-success"></i>
            {% else %}
            <i class="icon icon-cross text-error"></i>
            {% endif %}</td>
        <td align="center">{% if wksps.complete %}
            <i class="icon icon-check text-success"></i>
            {% else %}
            <i class="icon icon-cross text-error"></i>
            {% endif %}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script type="text/javascript">
  var deleteLinks = document.querySelectorAll('.delete');

  for (var i = 0; i < deleteLinks.length; i++) {
    deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
    });
  }
</script>
{% endif %}
{% include "footer.html" %}
{% endblock %}