{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_with_errors_spectre, render_field_checkbox %}

{% block content %}
{% include "messages.html" %}
{% if 'edit' in request.url %}
  <div style='margin-left: 50px; width: 45%;'>
    <div class="card">
      <h5 class="card-header">Editando a {{result["first_name"]}} {{result["last_name"]}} </h5>
      <div class="card-body">
        <form action="{{ url_for('edit_member') }}" method="POST">
          <p>Nombre: <input class="form-control" type="text" name="first_name" style='width: 100%;' value='{{result["first_name"]}}' /></p>
          <p>Apellidos: <input class="form-control" type="text" name="last_name" style='width: 100%;' value='{{result["last_name"]}}' /></p>
          <p>DNI o NIE: <input class="form-control" type="text" name="dni" style='width: 100%;' value='{{result["dni"]}}' /></p>
          <p>Escuela: <input class="form-control" type="text" name="school" style='width: 100%;' value='{{result["school"]}}' /></p>
          <p>Grado: <input class="form-control" type="text" name="degree" style='width: 100%;' value='{{result["degree"]}}' /></p>
          <p>Curso actual: <input class="form-control" type="text" name="year" style='width: 100%;' value='{{result["year"]}}' /></p>
          <p>Email: <input class="form-control" type="text" name="email" style='width: 100%;' value='{{result["email"]}}' /></p>
          <p>Nick de Telegram: <input class="form-control" type="text" name="telegram" style='width: 100%;' value='{{result["telegram"]}}'/></p>
          <input type="hidden" name="old_dni" value='{{result["dni"]}}' />

          <br>

          <p><input class="btn btn-primary btn-large btn-block" type="submit" value="Update Data" /></p>
        </form>
      </div>
    </div>

  </div>
{% else %}
  <div class="card">
    <h5 class="card-header">Perfil de {{result["first_name"]}} {{result["last_name"]}} <a href="{{ url_for('select_edit_member_profile', edni=result['dni']) }}" class="profile-edit"><i class="icon icon-edit"></i> Edit</a></h5>
    <div class="card-body">
        <p>Nombre: {{result["first_name"]}}</p>
        <p>Apellidos: {{result["last_name"]}}</p>
        <p>DNI o NIE: {{result["dni"]}}</p>
        <p>Escuela: {{result["school"]}}</p>
        <p>Grado: {{result["degree"]}}</p>
        <p>Curso actual: {{result["year"]}}</p>
        <p>Email: {{result["email"]}}</p>
        <p>Nick de Telegram: {{result["telegram"]}}</p>
        <p>Miembro de AETEL: {% if result['active'] == 0 %}
              <i class="icon icon-cross text-error"></i>
            {% else %}
              <i class="icon icon-check text-success"></i>
            {% endif %}
          </p>
        No estás contento?
        <a class="btn btn-error delete" href="{{ url_for('delete_profile', dni=result['dni']) }}" data-confirm="¿Estás seguro de querer borrar tu perfil?">Borrar perfil</a>
    </div>
  </div>
  <script type="text/javascript">
    var deleteLinks = document.querySelectorAll('.delete');

    for (var i = 0; i < deleteLinks.length; i++) {
      deleteLinks[i].addEventListener('click', function(event) {
        event.preventDefault();

        var choice = confirm(this.getAttribute('data-confirm'));

        if (choice) {
          window.location.href = this.getAttribute('href');
        }
      });
    }
  </script>
{% endif %}
{% include "footer.html" %}
{% endblock %}
