{% extends "layout.html" %}
{% block content %}
{% include "messages.html" %}
<h5>
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      Herramientas
    </li>
  </ul>
  {% if current_user.has_role('admin') %}
  <a href="{{ url_for('view_tool', add='') }}" class="profile-edit"><i class="icon icon-plus" >kek</i> Añadir herramienta</a>
  {% endif %}
</h5>
<div class="docs-demo columns">

{% for result in results %}
<div class="column col-4 col-xs-12">

<div class="card">
  <div class="card-image">
    <img src="{{ result['image'] or 'static/images/no-image.svg'}}" class="img-responsive tool-img">
  </div>
  <div class="card-header">
    <button class="btn btn-primary float-right" onclick="window.location.href='{{ url_for('view_tool', name=result['name']) }}'"><i class="icon icon-plus icon-white"></i></button>
    <div class="card-title h5">{{ result["name"] }}</div>
    <div class="card-subtitle text-gray">{{ result["location"] }}</div>
  </div>
</div>
</div>
{% endfor %}
</div>

<script type="text/javascript">
  var confirmLinks = document.querySelectorAll('.confirm');

  for (var i = 0; i < confirmLinks.length; i++) {
    confirmLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
    });
  }
</script>
{% include "footer.html" %}
{% endblock %}
