{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_label_with_errors_spectre, render_field_label_social_with_errors_spectre %}

{% block content %}
{% include "messages.html" %}
{% if 'edit' in request.url and current_user.has_role('admin')%}
<div class="card">
  <h5 class="card-header">Editando {{result["name"]}}</h5>
  <div class="card-body">
    <form action="{{ url_for('edit_member') }}" method="POST" name="form" class="form-horizontal">
      {{ form.hidden_tag() }}
      {{ render_field_label_with_errors_spectre(form.name, class_="form-input", value=result["name"]) }}
    
      {{ render_field_label_with_errors_spectre(form.description, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(form.location, class_="form-input", value=result["location"]) }}
      {{ render_field_label_with_errors_spectre(form.manual, class_="form-input", value=result["manual"]) }}
      {{ render_field_label_with_errors_spectre(form.documentation, class_="form-input", value=result["documentation"]) }}
      <br>
      <div class="container">
      <div class="columns">
        <input type=submit class="btn btn-primary btn-large col-6" value=Guardar>
        <a class="btn btn-error confirm" style="width: 49.2%; margin-left: 10px;"href="{{ url_for('select_edit_tool_profile', delete=result['name']) }}" data-confirm="¿Estás seguro de querer borrar la herramienta {{result['name']}}?">Borrar herramienta</a><br>
      </div>
    </div>
    </form>
  </div>
</div>
{% else %}
<div class="card">
  <h5 class="card-header">Ficha de {{result["name"]}}
    {% if current_user.has_role('admin') %}
    <a href="{{ url_for('select_edit_tool_profile', edit=result['name']) }}" class="profile-edit"><i class="icon icon-edit"></i> Editar</a>
    {% endif %}
  </h5>
  <div class="card-body">
    <div class="container">
      <div class="columns">
        <div class="col-3 col-sm-12">
          <strong>Nombre:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["name"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Descripción:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["description"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Lugar:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["location"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Manual:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["manual"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Documentación:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["documentation"]}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script type="text/javascript">
  var confirmLinks = document.querySelectorAll('.confirm');

  for (var i = 0; i < confirmLinks.length; i++) {
    confirmLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
    });
  }
</script>
{% include "footer.html" %}
{% endblock %}