{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors_spectre, render_field, render_field_label_with_errors_spectre, render_field_label_social_with_errors_spectre, render_field_radio_with_errors_spectre, hidden_field %}

{% block content %}
{% include "messages.html" %}
<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"><\/script>\n')
        document.write('<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"><\/script>\n') 
    }
</script>
 
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#start_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    })
    jQuery(function($){ //on document.ready
        $('#end_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    })
}
</script>
{% if 'add' in request.url and current_user.has_role('admin')%}
<div class="card">
  <h5 class="card-header">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('list_votings') }}">Votaciones</a>
      </li>
      <li class="breadcrumb-item">
        Añadir
      </li>
    </ul>
  </h5>  <div class="card-body">
    <form action="{{ url_for('view_voting', add=form.name) }}" method="POST" name="form" class="form-horizontal" enctype=multipart/form-data>
      {{ form.hidden_tag() }}
      {{ render_field_label_with_errors_spectre(form.name, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(form.description, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(form.start_date, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(form.end_date, class_="form-input") }}
      {{ render_field_label_with_errors_spectre(form.options, class_="form-input") }}
      <div class="form-group">
        <div class="col-3 col-sm-12"></div>
        <div class="col-9 col-sm-12">
          <p class="form-input-hint">Introduce las opciones separadas por el carácter |.</p>
        </div>
      </div>
      <input type=submit class="btn btn-primary btn-large" value=Añadir>
    </form>
  </div>
</div>
{% else %}
<div class="card">
  <h5 class="card-header">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('list_votings') }}">Votaciones</a>
      </li>
      <li class="breadcrumb-item">
        {{result["name"]}}
      </li>
    </ul>
    {% if current_user.has_role('admin') %}
    <a href="{{ url_for('view_voting', delete=result['id']) }}" class="confirm profile-edit" data-confirm="¿Estás seguro de querer borrar a {{result['name']}}?"><i class="icon icon-delete"></i> Borrar</a>
    {% endif %}
  </h5>
  <div class="card-body">
    <div class="container">
      <div class="columns">
        <div class="col-3 col-sm-12">
          <strong>Nombre:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["name"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Descripción:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["description"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Fecha de inicio:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["start_date"]}}
        </div>

        <div class="col-3 col-sm-12">
          <strong>Fecha de finalización:</strong>
        </div>
        <div class="col-9 col-sm-12">
          {{result["end_date"]}}
        </div>
      </div>
    </div>

    <br>
    {% if votes['user'] == 0 and votes['end'] == 0 %}
    <form action="{{ url_for('view_voting', vote=result['id']) }}" method="POST" name="form" class="form-horizontal" enctype=multipart/form-data>
      {{ form.hidden_tag() }}
      {{ render_field_radio_with_errors_spectre(form.option) }}
      <input type=submit class="btn btn-primary btn-large" value=Votar>
    </form>
    {% elif votes['end'] == 1 %}
      <strong>La votación ha terminado</strong>
    {% elif votes['user'] == 1 %}
      <strong>Ya has votado</strong>
    {% endif %}
  </div>
</div>
  {% if current_user.has_role('admin') or votes['end'] == 1 %}
  <div class="card">
    <h5 class="card-header">Recuento de votos</h5>
    <div class="card-body">
      {% set total = [0] %}
      {% for name, votes in votes['number'].iteritems() %}
        <div><strong>{{ name }}: </strong>{{ votes }}</div>
        {% if total.append(total.pop() + votes) %}{% endif %} {# add number of votes in this option to total #}
      {% endfor %}
      <br>
      <strong>Votos totales: </strong>{{ total }}
    </div>
  </div>
  {% endif %}

{% endif %}
<script type="text/javascript">
  var confirmLinks = document.querySelectorAll('.confirm');

  for (var i = 0; i < confirmLinks.length; i++) {
    confirmLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
    });
  }
</script>
{% include "footer.html" %}
{% endblock %}